<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Orinoco page produit ours brun naturel</title>

    </head>
     <body>
        <header><img src="../image-marque.PNG" alt="image de la marque Orinoco"/>
            <!-- mettre le script pour prompt demander combien d'article entrer un nombre entre 1 et 10 ?-->
        </header>
        <!-- mettre le script fonction qui calcule le total aller chercher le prix-->
        <!-- mettre le script pour prompt voulez vous commander oui ou non ? si non retour page d'accueil-->

        <!-- faire le formulaire, qui se met à jour si plusieurs articles différents-->

        <!-- à la validation envoyer la commande par post-->

        <!-- retour de l'id de commande et confirmation-->

    </body>

</html>