body{
    display: flex;
    flex-direction: column;
    width: 80%;margin:auto;
}
header{
    width:60%;
    margin:auto;
}
header img{
    width: 100%;
}


.article{
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(161, 123, 123);
    margin-bottom: 5%;
}
.bloc_description{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 10%;
}
.bloc_haut h2{
    font-weight: 2rem;
    text-align: center;
    background-color: rgb(161, 123, 123);
    border-radius: 15px;
    padding:2%;
}
.bloc_bas p{
    text-align: center;
    font-size: 2rem;
    padding-top: 5%;
}
a{
    text-decoration: none;
    color:black;
    font-size:1.7rem;
    background-color:rgb(161, 123, 123);
    padding:2%;
    border-radius: 15px;
}
#Liste{
    width:100% ;
    margin:auto;
    margin-bottom: 3%;
}
#Liste img{
    width: 765px;
    height: 600px;
}

h1{
    text-align:center;
    color:rgb(161, 123, 123);
    font-weight: bold;
}


footer{
    width: 80%;
    margin:auto;
}
footer p{
    text-align: center;
    font-size:1.7rem;
    margin-top:5%;
    margin-bottom: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 3px solid rgb(161, 123, 123);
} 
footer a{
    font-size: 1.5rem;
    text-decoration: none;
}
.sites{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}