<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Orinoco page produit mini ourson beige clair</title>

    </head>
     <body>
        <header><img src="../image-marque.PNG" alt="image de la marque Orinoco"/>
        </header>
        <div class="teddy">
            <h1>Mini ourson beige clair</h1>
            <img src="../images/teddy_5-mini.jpg" alt="photo ourson beige clair photo taille aggrandie"/>
        </div>
        <div class="informations">
            <div class="id">
                Référence : numéro ID de l'API
            </div>
            <div class="name">
                Mini ourson beige clair
            </div>
            <div class="price">
                27 euros
            </div>
            <div class="description">  <!-- message : voulez vous mettre dans le panier ? et quantité ? fenêtre pop-->
                <button>Couleur brun</button>
                <button>Couleur blanc</button>
                <button>couleur noir</buton>
            </div>

        </div>

    </body>
    <footer>
        <p><a href = "../index.html">Accueil</a></p>
    </footer>
