<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="style.css">

        <title>Orinoco page produit ours brun naturel</title>

    </head>
    <body>
        <header><img src="../image-marque.PNG" alt="image de la marque Orinoco"/>
        </header>
        <section>
            <div class="teddy">
                <h1>Ours brun</h1>
                <img src="../images/teddy_1.jpg" alt="photo ours beige photo taille aggrandie"/>
                
            </div>
            <script src = "teddy1.js"></script>
            <div id = "image">

            </div>
            <div id="description">

            </div>
          


            
            </script>
            
        </section>
   
        <footer>
            <div class="action">
                <p><a href = "panier.html">Panier</a></p>
            </div>
            <div class="retour">
                <p><a href = "../index.html">Accueil</a></p>
            </div>
        </footer>

    </body>
   

</html>